[Desktop Entry]
Name=Edbian Updater
Comment=Gestor de actualizaciones para APT, Flatpak y Snap
Exec=/usr/bin/edbian-updater.py
Icon=/usr/share/edbian-updater/icon_update.jpg
Terminal=false
Type=Application
Categories=System;Utility;Edbian;
